@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


@layer utilities {
  .gradient-text-hover {
    @apply text-black bg-gradient-to-r from-gradient-start to-gradient-end bg-clip-text text-transparent;
  }
}
